@use"variables" as *;

@media (max-width: 880px){
    .header {
        padding-inline: 2%;
    }
}

@media (max-width: 830px) {
    .header {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 25px 60px 25px;
        grid-template-areas:
            "header__contakt"
            "header__logo"
            "header__nav";
        padding-inline: 60px;      
    }
}

@media (max-width: 768px) {
    .header {
        row-gap: 30px;
    }
    .header__contakt{
        justify-content: start;
    }
    .header__nav{
        justify-content: start;
    }

}

@media (max-width: 560px) {
    .header {
        padding-inline: 2%;
    }
    .header__contak-facebook img{
        display: none;
    }
    .dot {
        
        display: none;
    }
    .header__contak {
        justify-content: space-between;
    }
}

@media (max-width: 375px) {
    .header__contak {
        gap: 0px;
        justify-content: space-between;
        
    }
    .header__contak-adress {
        display: none;
    }
    .dot {
        display: none;
        position: absolute;
    }
    .dot img {
        display: none;
        position: absolute;
    }
    .header__contak-facebook {
        display: none;
    }
   
    .header__contak-phone {
        
        margin-left: auto;
        margin-right: 0;
    }
    .header__nav {
        display: none;
    }
    .header {
        
        display: grid;
        grid-template-rows: 45px 57px ;
        grid-template-columns: 1fr;
        grid-template-areas:
            "header__contakt"
            "header__logo";
        padding: 0;
        gap: 0px;
        row-gap: 15px;
              
    }
    .header__logo {
        padding: 0;
        gap: 4px;
        height: 50px;
        align-items: center;
        padding-inline: 15px;
       
        .header__logo-img {
            width: 69.33px;
            height: 24.8px;
            overflow: hidden;
           
            img {
                width: 69.33px;
                height: 24.8px;
            }
         
            
        }
        .header__logo-slash  {
            width: 11.62px;
            height: 26px; 
            overflow: hidden;
            
            img {
                width: 11.62px;
                height: 26px; 
            }
            
        }
        .header__logo-text {
            height: 24px;
            p {
                font-size: 20px;
                line-height: 24.38px;
            }
            
        }
        
    }
    .header__logo-burger {
        display: block;
    }
    .header__contakt {
        background-color: $bg;
        
    }
}
    


